body{
 font-family: "Open Sans", sans-serif;
 text-align: justify;
 background: #060d22;
 color: #fff;
 padding-left: 1rem;
 padding-right: 1rem;
}
h2{
 text-align: center;
 color: #f82249;
 font-weight: bold;
}
h3{
 text-align: left;
 font-weight: bold;
}

a{
 color: #f82249;
 font-weight:normal;
}
